@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --text-primary: #261d40;
  --text-secondary: #393545cc;
  --text-bluebery: #432b87;
  --text-semibold: 600;
  --btn-primary: #6cbb01;
  --btn-primary-darker: #5c9c01;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-weight: 600;
}
p {
  color: var(--text-secondary);
  font-size: 18px;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 14px;
}
.container {
  max-width: 1350px;
  margin: auto;
  position: relative;
}
.btn-primary {
  background-color: var(--btn-primary);
  border: none;
  color: #fff;
  font-weight: var(--text-semibold);
  cursor: pointer;
}
.title {
  line-height: 1.71;
  font-size: 32px;
  color: var(--text-primary);
}
.subtitle {
  margin: 15px 0;
}
.divider {
  border-top: 1px solid #ebe6f8;
}
/* NAVBAR TOP */
.navbar-top {
  width: 90%;
  margin: auto;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.img-logo {
  max-width: 200px;
  min-width: 110px;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right > a {
  font-weight: var(--text-semibold);
  margin: 0 1rem;
}

.outline-btn {
  cursor: pointer;
  border: 3px solid #432b87;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--text-semibold);
  color: var(--text-bluebery);
}

/* END NAVBAR */

/* HERO */
.hero-section {
  height: auto;
}
.hero {
  position: relative;
}
.hero-container {
  display: grid;
  grid-template-columns: 800px 1fr;
  gap: 25px;
}
.img-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px 0 0;
}
.hero-title {
  font-size: 42px;
  margin-bottom: 30px;
}
.hero-subtitle {
  font-size: 18px;
  color: var(--text-secondary);
  line-height: 1.67;
}
.hero-cta {
  margin-top: 3.1rem;
  display: flex;
}

/* BTN HERO */
.hero-btn-primary {
  background-color: var(--btn-primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: var(--text-semibold);
  cursor: pointer;
  width: 175px;
  height: 50px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.48px;
  opacity: 0.8;
  padding: 0 20px;
}
.hero-btn-primary > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-btn-primary:hover {
  background-color: var(--btn-primary-darker);
}
/* END HERO */
/* END HERO */

/* BOTTOM BAR */

.btn-bottom-bar {
  width: 100px;
  height: 40px;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--text-semibold);
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 90%;
  margin: auto;
}
/* END BOTTOM BAR */

/* ABOUT SECTION */
.about-section {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 6rem auto;
}
.about-row {
  display: grid;
  grid-template-columns: 700px 1fr;
  gap: 30px;
}
.about-image {
  max-width: 600px;
  max-height: 335px;
  display: block;
  margin: 0 auto;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.about-title {
  margin-bottom: 15px;
}
/* END ABOUT SECTION */

/* SERVICES SECTION */
.services-section {
  width: 90%;
  margin: auto;
}
.services-container {
  padding: 2rem 0;
  margin-bottom: 5.6rem;
}
.services-title {
  text-align: center;
}
.paragraph {
  text-indent: 2rem;
}
.service-heading {
  position: relative;
}
.service-heading::after {
  width: 50px;
  height: 2px;
  background-color: #757575;
  content: "";
  display: block;
  margin: 3rem auto 4rem auto;
  /* position: absolute;
  z-index: 1; */
}
.services {
  margin-top: 2.1rem;
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 80px;
  justify-content: center;
}
.item-container {
  text-align: center;
}
.img-thum-services > img {
  display: block;
  margin: 0 auto;
}
.item-services-title > h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 1.3rem 0;
}
.item-service-subtitle > p {
  font-size: 14px;
  line-height: 1.43;
}
/* END SERVICES SECTION */

/* SLIDES */
.slideshow-container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 70vh;
}

.slideshow {
  /* margin: 6rem auto; */
  display: grid;
  grid-template-columns: repeat(5, 370px);
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  box-shadow: 0px 10px 30px 0 rgba(67, 43, 135, 0.1);
  border-radius: 6px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.6;
}

.card-message {
  font-style: italic;
  line-height: 1.67;
  margin-bottom: 1.8rem;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-info {
  margin-right: 15px;
  text-align: right;
}
.card-info > .name {
  font-weight: bold;
  font-size: 18px;
  color: var(--text-primary);
}
.card-info > .job {
  font-size: 14px;
}
.current-show {
  opacity: 1;
}

.slideshow-control {
  max-width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.control-slider::after {
  margin: 0 0.8rem;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #1d3954;
  display: block;
  border-radius: 50%;
  opacity: 0.5;
}
.selected::after {
  background-color: var(--text-bluebery);
  opacity: 1;
}
/* END SLIDES */
